body {
  background-color: rgb(56, 194, 187);

}

h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
}

.colores {
  grid-column: 1/7;
  grid-row: 1;
}

.black {
  grid-column: 1;
  grid-row: 2;
}

.teal {
  grid-column: 2;
  grid-row: 2;
}

.blue {
  grid-column: 3;
  grid-row: 2;
}

.navy {
  grid-column: 4;
  grid-row: 2;
}

.lime {
  grid-column: 5;
  grid-row: 2;
}

.white {
  grid-column: 6;
  grid-row: 2;
}

.purple {
  grid-column: 1;
  grid-row: 3;
}

.yellow {
  grid-column: 2;
  grid-row: 3;
}

.olive {
  grid-column: 3;
  grid-row: 3;
}

.red {
  grid-column: 4;
  grid-row: 3;
}

.black2 {
  grid-column: 5;
  grid-row: 3;
}

.gray {
  grid-column: 6;
  grid-row: 3;
}

.olive2 {
  grid-column: 1;
  grid-row: 4;
}

.red2 {
  grid-column: 2;
  grid-row: 4;
}

.fucshia {
  grid-column: 3;
  grid-row: 4;
}

.green {
  grid-column: 4/7;
  grid-row: 4;
}

.wrapper .colores {
  background-color: green;
}

.wrapper .black {
  background-color: black;
  color: white;
}

.wrapper .teal {
  background-color: teal;
  color: black;
}

.wrapper .blue {
  background-color: blue;
  color: black;
}

.wrapper .navy {
  background-color: navy;
  color: black;
}

.wrapper .lime {
  background-color: lime;
  color: black;
}

.wrapper .white {
  background-color: white;
  color: black;
}

.wrapper .purple {
  background-color: purple;
  color: black;
}

.wrapper .white {
  background-color: white;
  color: black;
}

.wrapper .purple {
  background-color: purple;
  color: black;
}

.wrapper .yellow {
  background-color: yellow;
  color: black;

}

.wrapper .olive {
  background-color: olive;
  color: black;
}

.wrapper .red {
  background-color: red;
  color: black;
}

.black2 {
  background-color: black;
  color: white;
}

.wrapper .gray {
  background-color: gray;
  color: black;
}

.wrapper .olive2 {
  background-color: olive;
  color: black;
}

.wrapper .red2 {
  background-color: red;
  color: black;
}

.wrapper .fucshia {
  background-color: fuchsia;
  color: black;
}

.wrapper .green {
  background-color: green;
  color: black;
}


.cl {
margin-top: 10vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  font-size: 2.9rem;
  font-weight: bold;
  margin-left: 15vw;
  margin-right: 15vw;

}

.tbl {
  color: black;
}

.tte {
  color: teal;
}

.tbl {
  color: blue;
}

.tna {
  color: navy;
}

.tli {
  color: lime;
}

.twh {
  color: white
}

.tpu {
  color: purple;
}

.tye {
  color: yellow;
}

.tol {
  color: olive;
}

.tre {
  color: red;
}

.tbr {
  color: brown;
}

.tgr {
  color: gray;
}

.tfua {
  color: fuchsia;
}

.tgre {
  color: green;
}

.taq {
  color: aqua;
}

.tsi {
  color: silver;
}

